<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shixzh.bcms.dao.UserDao" >
  <resultMap id="BaseResultMap" type="com.shixzh.bcms.po.UserPO" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_age" property="userAge" jdbcType="INTEGER" />
    <result column="user_mobile" property="userMobile" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
	user_id, user_name, user_age, user_mobile, user_password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.shixzh.bcms.po.UserPO" flushCache="false">
  	SELECT
  	<include refid="Base_Column_List" />
  	FROM user WHERE user_id = #{userId}
  </select>
  <select id="listUser" parameterType="com.shixzh.bcms.po.UserPO" resultType="com.shixzh.bcms.po.UserPO" flushCache="false">
  	SELECT
  	<include refid="Base_Column_List" />
  	FROM user
  	<trim prefix="WHERE" prefixOverrides="AND | OR" >
  		<if test="userName != null">
  			AND user_name LIKE CONCAT('%', ${userName}, '%')
  		</if>
  		<if test="userAgeStart != null">
  			AND user_age >= ${userAgeStart}
  		</if>
  		<if test="userAgeEnd != null">
  			AND user_age <![CDATA[ <= ]]> ${userAgeEnd}
  		</if>
  	</trim>
  </select>
  <select id="selectByMobile" parameterType="java.lang.String" resultType="com.shixzh.bcms.po.UserPO">
  	SELECT
  	<include refid="Base_Column_List" />
  	FROM user WHERE user_mobile = #{userMobile}
  </select>
  <insert id="addUser" parameterType="com.shixzh.bcms.po.UserPO">
  	INSERT INTO user
  	<trim prefix="(" suffix=")" suffixOverrides=",">
  		<if test="userName != null">
  			user_name,
  		</if>
  		<if test="userAge != null">
  			user_age,
  		</if>
  		<if test="userMobile != null">
  			user_mobile,
  		</if>
  		<if test="userPassword != null">
  			user_password,
  		</if>
  	</trim>
  	<trim prefix="VALUE (" suffix=")" suffixOverrides=",">
  		<if test="userName != null">
  			#{userName},
  		</if>
  		<if test="userAge != null">
  			#{userAge},
  		</if>
  		<if test="userMobile != null">
  			#{userMobile},
  		</if>
  		<if test="userPassword != null">
  			#{userPassword},
  		</if>
  	</trim>
  </insert>
  <update id="updateUser" parameterType="com.shixzh.bcms.po.UserPO">
  	UPDATE user
  	<set>
  		<if test="userName != null">
  			user_name = #{userName},
  		</if>
  		<if test="userAge != null">
  			user_age = #{userAge},
  		</if>
  		<if test="userMobile != null">
  			user_mobile = #{userMobile},
  		</if>
  		<if test="userPassword != null">
  			user_password = #{userPassword},
  		</if>
  	</set>
  	WHERE user_id = #{userId}
  </update>
  <delete id="deleteUser" parameterType="java.lang.Long">
  	DELETE FROM user
  	WHERE user_id = #{userId}
  </delete>
</mapper>